In [3]:
import pandas as pd
data = pd.read_csv(r"C:\Users\sg327\OneDrive\Documents\Desktop\Advanced_project\customer_shopping_behavior.csv")

In [51]:
data.head(5)

   customer_id  age gender item_purchased  ... payment_method  frequency_of_purchases    age_group purchase_frequency_days
0            1   55   Male         Blouse  ...          Venmo             Fortnightly   Middle_age                      14
1            2   19   Male        Sweater  ...           Cash             Fortnightly  Young Adult                      14
2            3   50   Male          Jeans  ...    Credit Card                  Weekly   Middle_age                       7
3            4   21   Male        Sandals  ...         PayPal                  Weekly  Young Adult                       7
4            5   45   Male         Blouse  ...         PayPal                Annually   Middle_age                     365

[5 rows x 20 columns]

In [26]:
data.tail(5)

      Customer ID  Age  Gender Item Purchased  ... Promo Code Used  Previous Purchases Payment Method Frequency of Purchases
3895         3896   40  Female         Hoodie  ...              No                  32          Venmo                 Weekly
3896         3897   52  Female       Backpack  ...              No                  41  Bank Transfer              Bi-Weekly
3897         3898   46  Female           Belt  ...              No                  24          Venmo              Quarterly
3898         3899   44  Female          Shoes  ...              No                  24          Venmo                 Weekly
3899         3900   52  Female        Handbag  ...              No                  33          Venmo              Quarterly

[5 rows x 18 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [10]:
data.describe()

       Customer ID          Age  Purchase Amount (USD)  Review Rating  Previous Purchases
count  3900.000000  3900.000000            3900.000000    3863.000000         3900.000000
mean   1950.500000    44.068462              59.764359       3.750065           25.351538
std    1125.977353    15.207589              23.685392       0.716983           14.447125
min       1.000000    18.000000              20.000000       2.500000            1.000000
25%     975.750000    31.000000              39.000000       3.100000           13.000000
50%    1950.500000    44.000000              60.000000       3.800000           25.000000
75%    2925.250000    57.000000              81.000000       4.400000           38.000000
max    3900.000000    70.000000             100.000000       5.000000           50.000000

In [24]:
data.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [23]:
data["Review Rating"] = data.groupby("Category")["Review Rating"].transform(lambda x: x.fillna(x.median()))

In [14]:
data.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [33]:
data.columns = data.columns.str.lower()
data.columns = data.columns.str.replace(" ","_")
data = data.rename(columns = {"purchase_amount_(usd)" : "purchase_amount"})

In [34]:
data.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [35]:
#create a new age_group column.
labels = ["Young Adult", "Adult", "Middle_age", "Senior"]
data["age_group"] = pd.qcut(data["age"], q = 4, labels = labels)

In [41]:
data[["customer_id","gender","age","age_group"]].head(5)

   customer_id gender  age    age_group
0            1   Male   55   Middle_age
1            2   Male   19  Young Adult
2            3   Male   50   Middle_age
3            4   Male   21  Young Adult
4            5   Male   45   Middle_age

In [48]:
#create new column purchase_frequency_days
frequently_mapping = {
    "Fortnightly" : 14,
    "Weekly" : 7,
    "Monthly" : 30,
    "Quarterly" : 90,
    "Bi-Weekly" : 14,
    "Annually" : 365,
    "Every 3 Months" : 90
} 

data["purchase_frequency_days"] = data["frequency_of_purchases"].map(frequently_mapping)

In [53]:
data[["customer_id","purchase_frequency_days","frequency_of_purchases"]].head(5)

   customer_id  purchase_frequency_days frequency_of_purchases
0            1                       14            Fortnightly
1            2                       14            Fortnightly
2            3                        7                 Weekly
3            4                        7                 Weekly
4            5                      365               Annually

In [54]:
(data["discount_applied"] == data["promo_code_used"]).all()

np.True_

In [55]:
data = data.drop(("promo_code_used"), axis = 1)

In [56]:
data.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [71]:
pip install psycopg2-binary sqlalchemy
pip install mysql-connector-python

SyntaxError: invalid syntax (3552553711.py, line 1)

In [70]:
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+mysqlconnector://root:shubham9589@localhost:3306/customer_data_behaviour"
)

# Send DataFrame to MySQL table
data.to_sql(
    name="customer",   # table name
    con=engine,
    if_exists="replace",     # append / replace
    index=False
)

print("Data loaded successfully")

Data loaded successfully